// General styles

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centralize-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.self-centralize {
    align-self: center;
    justify-self: center;
}

.mobile-content {
    display: none;
}



@import 'body';